{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
  
  <li class='menu-dropdown'>
	  <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
      ComeHome
      <b class='caret'></b></a>
      <div class='dropdown-menu main-drop-two'>
        <div class='col-50'>
          <ul class='dropdown-menu1'>
            <li><a href='#'>Music</a></li>
            <li><a href='#'>I-catcher</a></li>
            <li><a href='#'>Literature</a></li>
            <li><a href='#'>Film</a></li>
          </ul>
        </div>
        <div class='col-50' position=right>
          <ul class='dropdown-menu2'>
            <li><a href='#'>Online</a></li>
            <li><a href='#'>Offline</a></li>
            <li><a href='#'>Talk</a></li>
          </ul>
        </div>
</header>
