{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

  </div>
	<div style="text-align: right">
	  <div class="menu" style="display:inline-block">left
	  <ul>
		  <a class="dropdown-item" href="#">Action</a><div class="dropdown-divider" />
		  <li><a class="dropdown-item" href="#">Action2</a></li><div class="dropdown-divider" />		  
		  <li><a class="dropdown-item" href="#">Action3</a></li>
		  </ul>
	  </div>
			<ul><div class="menu" style="display:inline-block">Righttt

		<li><a class="dropdown-item" href="#">Action1R</a></li><div class="dropdown-divider" />
		  <li><a class="dropdown-item" href="#">Action2R</a></li><div class="dropdown-divider" />		  
		  <li><a class="dropdown-item" href="#">Action3R</a></li>
		  	
		</div></ul>
</div>

	test2
	</br>

<ul><button type="button" class="btn btn-danger">Dropdown11</button>
<div slot="DropdownMenu">
	<li><a class="dropdown-item" href="javascript:void(0)">Action-L</a></li>
      <li><div class="dropdown-divider" />      <a class="dropdown-item" href="javascript:void(0)">Another action-L</a></li>
     <li><div class="dropdown-divider" />      <a class="dropdown-item" href="javascript:void(0)">Something else-L</a></li>

	      </div>
		      </ul>

    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Dropdown2</span>
    </button>
    <div slot="DropdownMenu">
      <a class="dropdown-item" href="javascript:void(0)">Action</a>
      <div class="dropdown-divider" />      <a class="dropdown-item" href="javascript:void(0)">Another action</a>
      <div class="dropdown-divider" />      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
    </div>
  </Dropdown>

test2-end
</br>

<div class="menu2">
  <li class='menu-dropdown'>
	  <a class='dropdown-toggle' data-toggle='dropdown' href='#'>ComeHome<b class='caret'></b></a>
	<li> Main
          <ul class='dropdown-menu1'> 
            <li><a href='#'>Music</a></li>
            <li><a href='#'>I-catcher</a></li>
            <li><a href='#'>Literature</a></li>
            <li><a href='#'>Film</a></li>
          </ul>
	</li>
	<li> Meet
          <ul class='dropdown-menu2'>
            <li><a href='#'>Online</a></li>
            <li><a href='#'>Offline</a></li>
            <li><a href='#'>Talk</a></li>
          </ul>
	</li>
</li>
</header>
